* {
    padding:                0;
    margin:                 0;
    box-sizing:             border-box;
}
/*----------*/
.menu {
    width:                  10%;
    height:                 100vh;
    display:                flex;
    flex-direction:         column;
}

.menu > .header {
    height:                 150px;
    background:             #37474F url("../icons/account.svg") no-repeat center center;
}


.color_block {
    width:                  100%;
    height:                 30px;
    background-color:       #263238;
}


.menu > .item {
    height:                 40px;
    color:                  #B0BEC5;
    background-color:       #546E7A;
    user-select:            none;
    cursor:                 pointer;
    font-size:              16px;
    line-height:            40px;
    text-align:             left;
    padding-left:           70px;
    transition-duration:    .3s;
}

.menu > .empty {
    background-color:       #546E7A;
    flex: 1;
}

.item:nth-child(odd) {
    border-top:             1px solid #687d93;
    border-bottom:          1px solid #687d93;
}

.item:hover {
    color:                  black;
}

.item[id="home"] {
    background:             #546E7A url(../icons/to_home_white.svg) no-repeat 10% 50%;
}

.item[id="home"]:hover {
    background:             #546E7A url(../icons/to_home_black.svg) no-repeat 10% 50%;
}

.item[id="indices"] {
    background:             #546E7A url(../icons/indecies_white.png) no-repeat 10% 50%;
}

.item[id="indices"]:hover {
    background:             #546E7A url(../icons/indecies_black.svg) no-repeat 10% 50%;
}

.item[id="countries"] {
    background:             #546E7A url(../icons/country_white.svg) no-repeat 10% 50%;
}

.item[id="countries"]:hover {
    background:             #546E7A url(../icons/country_black.svg) no-repeat 10% 50%;
}

.item[id="compare"] {
    background:             #546E7A url(../icons/compare_white.png) no-repeat 10% 50%;
}

.item[id="compare"]:hover {
    background:             #546E7A url(../icons/compare_black.png) no-repeat 10% 50%;
}

/*----------*/
.container {
    width:                  90%;
    height:                 97vh;
    margin:                 10px;
    background-color:       #E0E0E0;
    box-shadow:             0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius:          2px;
}

.card-count-container {
    display:                flex;
    flex-direction:         row;
    justify-content:        center;
    align-items:            center;
    height:                 100%;
    user-select:            none;
    cursor:                 default;
}

.card-count-container > * {
    width:                  700px;
    height:                 700px;
    margin:                 40px;
    display:                flex;
    flex-direction:         column;
    align-content:          center;
    justify-content:        center;
    background-color:       #EEEEEE;
    border-radius:          2px;
    box-shadow:             0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card-count-container .number {
    font-size:              35em;
    font-weight:            lighter;
    color:                  #424242;
    letter-spacing:         -20px;
    text-align:             center;
    height:                 650px;
}

.card-count-container .description {
    text-align:             center;
    margin:                 20px;
    font-size:              25px;
}


/*----------*/
.country_search {
    text-align:             center;
    margin:                 20px 20px 60px 20px;
}

#search_country {
    background:             url('../icons/search.png') no-repeat;
    padding-left:           40px;
    transition-duration:    .3s;
    border-bottom:          2px solid #607D8B;
}

#search_country:focus {
    border-radius:          2px;
    background:             #F5F5F5;
    padding-left:           10px;
    width:                  600px;
    transition-duration:    .2s;
    box-shadow:             0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.countries-container {
    display:                flex;
    flex-direction:         column;
    width:                  100%;
    font-size:              14px;
    align-items:            center;
    height:                 85%;
}

.wrap-countries {
    display:                flex;
    flex-direction:         row;
    flex-flow:              row wrap;
    overflow:               auto;
    margin:                 0 100px 0 110px;
}

/*----------*/
button {
    border:                 none;
    cursor:                 pointer;
    color:                  white;
    border-radius:          50%;
    font-size:              32pt;
    box-shadow:             2px 2px 4px rgba(0, 0, 0, .4);
    background:             #2196F3;
    width:                  60px;
    height:                 60px;
    user-select:            none;
    outline:                none;
}

button{
    overflow:               hidden;
    position:               fixed;
    bottom:                 35px;
    right:                  25px;
}

button:after {
    content:                '';
    position:               absolute;
    top:                    50%;
    left:                   50%;
    width:                  5px;
    height:                 5px;
    background:             rgba(255, 255, 255, .5);
    opacity:                0;
    border-radius:          100%;
    transform:              scale(1, 1) translate(-50%);
    transform-origin:       50% 50%;
}

@keyframes ripple {
    0% {
        transform:          scale(0, 0);
        opacity:            1;
    }
    100% {
        opacity:            0;
        transform:          scale(40, 40);
    }
}

button:focus:not(:active)::after {
    animation:              ripple 1s ease-out;
}

/*----------*/
.country-detail {
    width:                  99%;
    height:                 98%;
    border-radius:          2px;
    box-sizing:             border-box;
    margin:                 10px;
    display:                flex;
    flex-direction:         column;
    justify-content:        flex-start;
    box-shadow:             2px 2px 4px rgba(0, 0, 0, .4);
}

.tab-container {
    display:                flex;
    flex-direction:         row;
    justify-content:        center;
    background-color:       #607D8B;
    box-sizing:             border-box;
}

.tab {
    box-sizing:             border-box;
    width:                  100%;
    text-align:             center;
    height:                 60px;
    line-height:            40px;
    user-select:            none;
    font-weight:            400;
    cursor:                 pointer;
    font-size:              20px;
    padding:                10px 0 10px 0;
    color:                  rgba(255, 255, 255, 0.5);
    border-bottom:          4px solid #607D8B;
}

.tab:hover {
    color:                  white;
}

.tab-active {
    color:                  #F5F5F5;
    border-bottom:          4px solid #00BCD4;
}

.tab-active:hover {
    color:                  #F5F5F5;
}

.chart {
    height:                 95%;
}

.remove-country:hover {
    color:                  #ff5252;
}

/*--------*/
.md-table {
    height:                 100%;
    overflow:               auto;
    box-sizing:             border-box;
    margin-top:             3px;
    display:                flex;
    flex-direction:         center;
    user-select:            none;
    cursor:                 pointer;
    margin-top:             10px;
}

.md-table > table {
    width:                  100%;
    border-collapse:        collapse;
    background-color:       #FAFAFA;
    border-radius:          2px;
}

.x-value, .y-value {
    text-align:             right;
    padding-right:          100px;
}

tr:hover:not([class="header-line"]) {
    background-color:       #EEEEEE;
}

td {
    padding:                10px 25px;
    box-sizing:             border-box;
}

td.checkbox, .save-value, .remove-value {
    width:                  100px;
}

.remove-value {
    background:             url(../icons/delete.svg) no-repeat center center;
}

.save-value {
    background:             url(../icons/save.svg) no-repeat center center;
}

.no_check {
    background:             url(../icons/no_check.svg) no-repeat center center;
}

.check {
    background:             url(../icons/check.svg) no-repeat center center;
}

th, td:nth-child(even) {
    border-right:           1px solid #E0E0E0;
    border-left:            1px solid #E0E0E0;
}

th {
    padding:                24px;
    border-bottom:          1px solid #E0E0E0;
}

/*--------*/
.common-combobox {
    font-family:            Roboto;
    font-size:              20px;
    height:                 40px;
    background-color:       #607D8B;
    color:                  #F5F5F5;
    width:                  240px;
    border:                 none;
    outline:                none;
}

.common-option {
    background-color:       white;
    color:                  black;
}

/*--------*/
.indecies-container {
    display:                flex;
    flex-direction:         column;
    width:                  100%;
    font-size:              14px;
    align-items:            center;
    height:                 85%;
}

.index-card {
    border-radius:          1px;
    width:                  120px;
    background-color:       #FAFAFA;
    transition:             box-shadow  0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:             0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding:                10px;
    margin:                 10px;
    display:                table;
    text-align:             center;
    user-select:            none;
    cursor:                 default;
}

.wrap-indecies {
    display:                flex;
    flex-direction:         row;
    flex-flow:              row wrap;
    overflow:               auto;
}

/*--------*/
.compare-container {
    margin:                 10px;
    border-radius:          2px;
    height:                 96%;
}

.compare-options-container {
    display:                flex;
    flex-direction:         row;
    justify-content:        center;
    background-color:       #607D8B;
    box-sizing:             border-box;
}

.option {
    box-sizing:             border-box;
    width:                  100%;
    text-align:             center;
    height:                 60px;
    user-select:            none;
    font-weight:            400;
    cursor:                 pointer;
    font-size:              20px;
    color:                  rgba(255, 255, 255, 0.5);
    border-bottom:          4px solid #607D8B;
    display:                flex;
    justify-content:        center;
    align-items:            center;
}

.option:nth-child(even) {
    border-right:           1px solid #E0E0E0;
    border-left:            1px solid #E0E0E0;
}

.compare-button {
    color:                  #F5F5F5;
}


.country-combobox {
    width:                  80%;
    height:                 40px;
    border-radius:          2px;
    box-sizing:             border-box;
    background-color:       #FAFAFA;
    cursor:                 pointer;
    box-shadow:             0 2px 5px 0 rgba(0, 0, 0, 0.2);
    color:                  black;
    text-align:             left;
    padding-left:           50px;
    line-height:            40px;
}

.country-combobox-list {
    display:                none;
    flex-direction:         column;
    max-height:             160px;
    min-height:             40px;
    z-index:                40;
    overflow:               auto;
    position:               absolute;
    border:                 1px solid #687d93;
    border-radius:          2px;
}

.country-combobox-item {
    color:                  black;
    height:                 40px;
    line-height:            40px;
    box-sizing:             border-box;
    background-color:       #FAFAFA;
    text-align:             left;
    padding-left:           50px;
}

.country-combobox-item:nth-child(even) {
    border-top:             1px solid #687d93;
    border-bottom:          1px solid #687d93;
}

.country-combobox-item:hover {
    background-color:       #EEEEEE;
}
